<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=scri, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 id="titulo">HELLOW WORLD</h1>
    <img src="https://firebasestorage.googleapis.com/v0/b/tiendasurasvl.appspot.com/o/darck.jpg?alt=media&token=7442763d-3fbd-4709-87d4-1897b8a79a61" alt="" id="foto">

    <script src="../controllers/aprendiendoDOM.js"></script>
</body>
</html>